.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__nav-link:not(:last-child) {
  margin-right: 40px;
}

.menu__coffee-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  position: relative;
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  margin-right: 40px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 1s;
  transition: border-color 1s;
  padding-bottom: 2px;
  letter-spacing: 0.2px;
}
.menu__link:hover {
  border-color: black;
}

.menu__link:last-of-type {
  margin-right: 0;
}

.menu__cup {
  margin: 0 0 2px 8px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  max-width: 1360px;
  height: 644px;
  border-radius: 40px;
  background: url(/assets/imgHome/img-hero.jpeg);
  padding: 100px;
  background-position: center center;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 530px;
  height: 444px;
  gap: 40px;
}

.hero__title {
  color: rgb(225, 212, 201);
  font-family: "Inter";
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: 2.5px;
  text-align: left;
  margin: 0;
}
.hero__title_brown {
  color: rgb(176, 144, 122);
  font-style: italic;
}

.hero__text {
  margin: 0;
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: rgb(225, 212, 201);
}

.hero__btn {
  margin: 0;
  font-family: Inter;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  color: rgb(64, 63, 61);
  font-size: 16px;
  text-align: center;
  background: rgb(225, 212, 201);
  border: none;
}

.favorite {
  margin-top: 100px;
  width: 1360px;
  height: 799px;
}
.favorite__title {
  margin: 0;
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2px;
  text-align: center;
}
.favorite__title_brown {
  color: rgb(176, 144, 122);
}
.favorite__slider {
  width: 1360px;
  height: 684px;
  background-color: black;
}

.app {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1360px;
  height: 630px;
}
.app__offer {
  width: 630px;
  height: 342px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}
.app__offer .app__title {
  margin: 0;
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2px;
}
.app__offer .app__title .app__title_brown {
  color: rgb(176, 144, 122);
  font-style: italic;
}
.app__offer .app__text {
  margin: 0;
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1px;
  text-align: left;
}
.app__offer .app__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.app__offer .app__btns .app__btns_ios {
  margin: 0;
  font-family: Inter;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  border: none;
  background-image: url(/assets/buttonHome/button-app-store.png);
  background-color: rgb(225, 212, 201);
}
.app__offer .app__btns .app__btns_google {
  border: none;
  margin: 0;
  font-family: Inter;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background-image: url(/assets/buttonHome/button-google-play.png);
  background-color: rgb(225, 212, 201);
}

.about {
  margin-top: 100px;
}
.about__title {
  margin: 0;
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.about__title_brown {
  color: rgb(176, 144, 122);
  font-style: italic;
}
.about__imgs {
  max-width: 1360px;
  height: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}
.about__imgs .img-1 {
  height: 590px;
}
.about__imgs .img-2 {
  height: 430px;
}
.about__imgs .img-3 {
  height: 430px;
}
.about__imgs .img-4 {
  height: 590px;
}
.about__imgs img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 20px;
  -o-object-fit: none;
     object-fit: none;
}
.about__imgs img:hover {
  -webkit-transform: scale(105%);
      -ms-transform: scale(105%);
          transform: scale(105%);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  padding: 100px;
  height: 450px;
  border-radius: 40px;
  background-color: rgb(102, 95, 85);
  gap: 100px;
}
.contacts__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 530px;
  height: 250px;
  gap: 40px;
}
.contacts__title {
  margin: 0;
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2px;
  color: rgb(225, 212, 201);
}
.contacts__title_brown {
  color: rgb(176, 144, 122);
  font-style: italic;
}
.contacts .contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.contacts .contacts__social button {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  border: none;
  background-color: rgb(102, 95, 85);
}
.contacts .contacts__social .contacts__btn_twitter {
  background-image: url(/assets/buttonHome/twitter-button.png);
}
.contacts .contacts__social .contacts__btn_inst {
  background-image: url(/assets/buttonHome/inst-button.png);
}
.contacts .contacts__social .contacts__btn_face {
  background-image: url(/assets/buttonHome/face-button.png);
}

.contacts__info {
  width: 530px;
  height: 186px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__info .contacts__us {
  margin-bottom: 40px;
  color: rgb(225, 212, 201);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  text-align: left;
  letter-spacing: 0.5px;
}
.contacts__info .contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 116px;
}
.contacts__info .contacts__text a {
  letter-spacing: 0.5px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-align: left;
  color: rgb(225, 212, 201);
}
.contacts__info .contacts__text .contacts__text_phone img {
  height: 20px;
  width: 20px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Arial, "Inter", sans-serif;
  padding: 20px 40px 20px 40px;
  max-width: 1440px;
  margin: 0;
  background: rgb(225, 212, 201);
  height: 7000px;
}/*# sourceMappingURL=styles.css.map */