@mixin title {
  margin: 0;
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2px;
}
@mixin text {
  margin: 0;
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1px;
}
@mixin btn {
  // padding: 12px 20px;
  margin: 0;
  font-family: Inter;
  width: 200px;
  height: 64px;
  border-radius: 100px;
}
