@import "../mixins.scss";
@import "../vars";
.hero {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  max-width: 1360px;
  height: 644px;
  border-radius: 40px;
  background: url(/assets/imgHome/img-hero.jpeg);
  padding: 100px;
  background-position: center center;
}

.hero__container {
  display: flex;
  flex-direction: column;
  width: 530px;
  height: 444px;
  gap: 40px;
}

.hero__title {
  color: rgb(225, 212, 201);
  font-family: "Inter";
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: 2.5px;
  text-align: left;
  margin: 0;
  &_brown {
    color: $color-brown;
    font-style: italic;
  }
}

.hero__text {
  @include text;
  color: rgb(225, 212, 201);
}

.hero__btn {
  @include btn;
  gap: 5px;
  color: rgb(64, 63, 61);
  font-size: 16px;
  font-weight: bold;
  background: rgb(225, 212, 201);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 25px;
  img {
    opacity: 0;
    transition: opacity 0.5s;
  }
  &:hover img {
    opacity: 1;
  }
}
.favorite {
  margin-top: 100px;
  width: 1360px;
  height: 799px;

  &__title {
    @include title;
    text-align: center;
    margin-bottom: 40px;

    &_brown {
      color: $color-brown;
    }
  }

  &__slider-btn {
    min-width: 1360px;
    height: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    button {
      border: 2px solid rgb(102, 95, 85);
      height: 60px;
      width: 60px;
      border-radius: 100px;
      background-color: transparent;
      transition: background-color 0.5s;
      &:hover {
        background-color: rgba(64, 63, 61, 0.8);
      }
      img {
        height: 25px;
        width: 25px;
        color: black;
        filter: brightness(1);
        transition: filter 0.5s;
      }
      &:hover img {
        filter: brightness(10);
      }
    }
  }
  .slider {
    max-width: 1152px;
    height: 640px;
    display: flex;
    justify-content: space-between;
    &__slide {
      width: 480px;
      height: 640px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__description {
      display: flex;
      flex-direction:  column;
      gap: 15px;
      p {
        margin: 0;
      }
    }
    &__coffee {
      img {
        width: 480px;
        height: 480px;
      }
    }

    &__name {
      color: rgb(64, 63, 61);
      font-family: Inter;
      font-size: 24px;
      font-weight: 600;
      line-height: 95%;
      text-align: center;
      letter-spacing: .5px;
    }
    &__text {
      color: rgb(64, 63, 61);
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      text-align: center;
      letter-spacing: .1px;
    }
    &__price {
      color: rgb(64, 63, 61);
      font-family: Inter;
      font-size: 24px;
      font-weight: 600;
      line-height: 125%;
      letter-spacing: 0%;
      text-align: center;
    }
  }
}

.app {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  height: 630px;

  &__offer {
    width: 630px;
    height: 342px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    .app__title {
      @include title;

      .app__title_brown {
        color: $color-brown;
        font-style: italic;
      }
    }

    .app__text {
      @include text;
      text-align: left;
    }

    .app__btns {
      display: flex;
      gap: 20px;
      button {
        transition: filter 0.7s;
        background-color: rgb(225, 212, 201);
        @include btn;
        border: 1px rgb(102, 95, 85);
        cursor: pointer;
        transition: background-image 0.7s;
      }
      .app__btns_ios {
        background-image: url(/assets/buttonHome/button-app-store.png);
        &:hover {
          background-image: url(/assets/buttonHome/app-hover.png);
        }
      }
      .app__btns_google {
        background-image: url(/assets/buttonHome/button-google-play.png);
        &:hover {
          background-image: url(/assets/buttonHome/play-hover.png);
        }
      }
    }
  }
}
.about {
  margin-top: 100px;

  &__title {
    @include title;
    margin-bottom: 40px;
    &_brown {
      color: $color-brown;
      font-style: italic;
    }
  }

  &__imgs {
    max-width: 1360px;
    height: 1060px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;

    .img-1 {
      height: 590px;
    }
    .img-2 {
      height: 430px;
    }
    .img-3 {
      height: 430px;
    }
    .img-4 {
      height: 590px;
    }
    img {
      transition: 0.5s;
      border-radius: 20px;
      object-fit: none;
      &:hover {
        transform: scale(105%);
      }
    }
  }
}
